PyPDF2==3.0.1
matplotlib==3.10.0
pandas==2.2.2
tqdm==4.67.1
numpy==1.26.4
groq==0.18.0
torch
tiktoken==0.7.0
scikit-learn==1.6.1
nltk==3.9.1
sentence-transformers==3.4.1
transformers==4.48.3
openai==1.66.3
colbert-ai==0.2.20
